*{
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #696969;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#user-name {
    font-weight: bold;
    margin-left: 5px;
}

.user-info {
    font-size: 18px;
}

h1, h2{
    text-align: center;
    margin-top: 50px;
}

.film-view{
    display: flex;
	justify-content: center;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 30px;
}

thead{
    color: #fff;
    background-color: #696969;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.btn-add{
    background-color: green;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    border: none;
}

.btn-up{
    background-color: green;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;   
}

.btn-dl{
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    border: none;
}

.btn2{
    margin-left: 50px;
    margin-bottom: 20px;
}

.btn-retour{
    background-color: #696969;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.btn-add:hover, .btn-up:hover, .btn-dl:hover, .btn-retour:hover{
    padding: 15px;
    transition: 0.5s;
}


.form-crud{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 30px 0px;
}

label{
    font-size: 18px;
    margin: 25px 0px;
}

input{
    width: 30%;
    height: 25px;
}

.error{
    color: red;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.password-cond{
    padding: 15px;
}