/* ALL */

*{
    padding: 0;
    margin: 0;
}

h1, h2{
    text-align: center;
    margin-top: 50px;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.btn2{
    margin-left: 50px;
    margin-bottom: 20px;
}

.btn-add, .btn-up, .btn-dl, .btn-retour{
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    border: none;
}

.btn-add{
    background-color: green;
}

.btn-up{
    background-color: green; 
}

.btn-dl{
    background-color: red;
}

.btn-retour{
    background-color: #696969;
}

.btn-add:hover, .btn-up:hover, .btn-dl:hover, .btn-retour:hover{
    padding: 15px;
    transition: 0.5s;
}

label{
    font-size: 18px;
    margin: 25px 0px;
}

input{
    width: 30%;
    height: 25px;
}

.error{
    color: red;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

/* NAVBAR */

.navbar {
    background-color: #696969;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#user-name {
    font-weight: bold;
    margin-left: 5px;
}

.user-info {
    font-size: 18px;
}

/* CRUD */

.film-view{
    display: flex;
	justify-content: center;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 30px;
}

thead{
    color: #fff;
    background-color: #696969;
}

.form-crud{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 30px 0px;
}

.password-cond{
    padding: 15px;
}

@media (max-width: 769px) {

    input{
        width: 80%;
    }

    table{
        width: 90%;
        text-align: center;
    }

    thead, th, td{ 
        display: block;
        margin: 0;
    }
    
    thead tr{ 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td{   
        position: relative;
        padding-top: 40px;
    }

    td:before{    
        position: absolute;
        top: 6px;
        left: 6px;
        font-weight: bold;
        text-align: left;
        content: attr(data-title);
    }

    tbody tr:nth-child(even) {
        background-color: #ddd    
    }
}
